
.wrapper {
	display: flex;
	justify-content: center;
	width: 100vw; height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
	background: rgba(0,0,0,0.6);
}
.AuthForm {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 1em;
}

.AuthForm__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1em;

}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
}



form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1em;
  width: 100%;
}

.AuthForm input {
  border: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #E4E4E4;
}


.card {
  display: flex;
  column-gap: 10px;
}

.card__mm {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text {
  text-align: center;
}