.ProfileForm {
  position: absolute;
  padding-top:25px;
  padding-bottom:25px;
  left: 3%;
  top: 20%;
  width: 300px;
  height: 270px;
  display: flex;
  justify-content: center;
  z-index: 50;
  background: #fff;
  border-radius: 5%;
}

select {
  width:250px;
}